# Ignore backup and temp files
*~
\#*#
\.\#*

# Target/intermediate files in man
man/*.1
man/*.5
man/*.md

# Intermediate docs files
docs/parts/
docs/full_doc.xml

# Tarballs in root dir
/*.tgz

# generated bin files
bin/dno
bin/dno_bpp
bin/dno_commands_for
bin/dno_dirinfo
bin/dno_menu
bin/dno_requote

# autotools crap
autom4te.cache
config.status
config.log

# generated root files
Makefile.global

# docs
docs/core-stylesheet.xsl

# My notes
NOTES
TODO

# html directory

html/*